body {
  background-color: rgb(17, 17, 17);
  color: white;
}

.fa-plus-circle {
  font-size: 6rem;
  color: lightblue;
}

.fa-edit {
  font-size: 6rem;
  color: lightblue;
}

.fa-play-circle {
  font-size: 2.5rem;
  color: lightblue;
  margin: 0 20px;
}

.fa-pause-circle {
  font-size: 2.5rem;
  color: lightblue;
  margin: 0 20px;
}

.fa-plus {
  color: lightblue;
  border: 1px solid lightblue;
  border-radius: 10%;
  padding: 3px;
  margin: 0 20px;
}

.fa-minus {
  color: lightcoral;
  border: 1px solid lightcoral;
  border-radius: 10%;
  padding: 3px;
  margin: 0 20px;
}

label {
  font-size: 3rem;
}

.songTitle {
  font-size: 3rem;
}

th {
  font-size: 2rem;
}

td {
  font-size: 1.3rem;
}

#play {
    margin: 0;
}

#pause {
    margin: 0;
}